<h2 class="align-center">Welcome To {{ productName }}</h2>
<p class="align-justify">Please click on the below link to complete your registration and start using your account</p>
<div class="align-center"><p class="btn btn-primary"><a href="{{ link }}">Verify</a></p></div>